.relative {
    position: relative;
    top: 50px;
    left: 100px;
    margin-bottom: 40px;
}

.absolute {
    position: absolute;
    right: 10px;
    top: 15px;
}

.fixed {
  position:fixed;
  bottom: 0px;
  left: 30%;
}

.bottom_link {
    position: fixed;
    right: 10px;
    bottom: 5px;
}