body {
    background-image: url(../images/wide-angle-landscape-photography-tutorial-mads-peter-iversen-3.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
}